<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
    <title>Home</title>
  </head>

  <body>
   <% if @users %>
    <section class="row wrap borded @users-heading">
      <div class="column post-description">
        <h2><%= @users.name %></h2>
        <p class="number-post">Number of posts: <%= @users.posts.count %></p>
      </div>
    </section>

    <section class="flex-center column">
      <ul class="max-width list-post">
        <% @users.posts.each do |post| %>
          <li class="column borded">
            <div class="post">
              <h3><%= post.title %></h3>
              <p><%= post.text %></p>
              <div class="row btns-post">
                <p>Comments: <%= post.comments.count %></p>
                <p>Likes: <%= post.likes.count %>  </p>
              </div>
            </div>
            <ul class="no-style list-comment borded">
              <% post.comments.each do |comment| %>
                <li><%= comment.author.name %>, Comment: <%= comment.text %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
     <section class="borded flex-center">
      <%= render partial: "posts/form_new_comment" %>
    </section>
      <button class="btn-show-post">Pagination</button>
    </section>
    <% end %>
  </body>
</html>
